<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->
<div class="row">
  <div class="col-sm-12" style="font-size:22px">Candidates</div>
</div>

<div class="row" style="padding:10px">
  <div class="col-sm-4">
    <input type="checkbox" name="male" [(ngModel)]="isMaleChecked" /> Male
  </div>
  <div class="col-sm-4">
    <input type="checkbox" name="female" [(ngModel)]="isFemaleChecked" /> Femal
  </div>
  <div class="col-sm-4">
    <input
      type="search"
      name="searchString"
      [(ngModel)]="searchString"
      (ngModelChange)="filterData()"
      placeholder="Whom are you looking for?"
    />
  </div>
</div>
<div style="padding:10px">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of candidates">
        <th>{{ item.id }}</th>
        <th>{{ item.firstName }}</th>
        <th>{{ item.lastName }}</th>
        <th>{{ item.email }}</th>
        <th>{{ item.gender }}</th>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-sm-12" style="font-size:22px">Add New Candidates</div>
</div>

<form (ngSubmit)="saveForm()" #myform>
  <div class="row" style="padding:10px">
    <div class="col-sm-6">
      <input
        style="width:100%"
        type="text"
        name="firstName"
        [(ngModel)]="candidateModel.firstName"
        placeholder="Enter First Name"
      />
    </div>
    <div class="col-sm-6">
      <input
        style="width:100%"
        type="text"
        name="lastName"
        [(ngModel)]="candidateModel.lastName"
        placeholder="Enter Last Name"
      />
    </div>
  </div>
  <div class="row" style="padding:10px">
    <div class="col-sm-12">
      <input
        style="width:100%"
        type="text"
        name="email"
        [(ngModel)]="candidateModel.email"
        placeholder="Enter Email"
      />
    </div>
  </div>

  <div class="row" style="padding:10px">
    <div class="col-sm-3">
      <input
        type="radio"
        name="gender"
        value="Male"
        [(ngModel)]="candidateModel.gender"
      />
      Male
    </div>
    <div class="col-sm-3">
      <input
        type="radio"
        name="gender"
        value="Female"
        [(ngModel)]="candidateModel.gender"
      />
      Female
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary" type="submit">Add</button>
    </div>
  </div>
</form>
